## Required for Local Development
ENVIRONMENT="prod | dev"
POLYGON_PROVIDER_URL="https://polygon-mainnet.g.alchemy.com/v2/API_KEY"
MUMBAI_PROVIDER_URL="https://polygon-mumbai.g.alchemy.com/v2/API_KEY"
GOERLI_PROVIDER_URL="https://eth-goerli.g.alchemy.com/v2/API_KEY"
DEV_PRIVATE_KEY="Private Key"
PROD_PRIVATE_KEY="Private Key"

## Required for Deployment
AWS_ACCESS_KEY_ID="AWS Access Key ID"
AWS_ACCESS_KEY_SECRET="AWS Access Key Secret"
AWS_KMS_KEY_ID="AWS KMS Key ID"

## Optional
POLYGONSCAN_API_KEY="PolygonScan API Key"
COINMARKETCAP_API_KEY="CoinMarketCap API Key"
DEFENDER_TEAM_API_KEY="Defender Team API Key"
DEFENDER_TEAM_API_SECRET_KEY="Defender Team API Secret Key"